<h1><%="#{@recipe.name}"%></h1>
<h3>Ingredients: </h3>
<p><%= "#{@recipe.ingredients}"%></p>
<!--<ul>
  <% @recipe.ingredients.split(",").each do |ingredient|%>
  <li><%="#{ingredient}"%></li>
  <%end%>
</ul> -->
<h3>Cook Time: <%="#{@recipe.cook_time}"%></h3>

<form method="post" action="/recipes/delete">
  <input id="hidden" type="hidden" name="delete" value="hidden">
  <input type="submit" value="delete">
</form>
